*{
	margin: 0;
	padding: 0;
}

body{
	overflow: hidden;
	animation: shakebody linear 6s infinite;
}

.sky{
	height: 100vh;
	width: 100%;
	background-image: url(background.jpg);
	background-repeat: no-repeat;
	position: absolute;
}

.trees{
	height: 100vh;
	width: 100%;
	background-image: url(trees.png);
	background-size: cover;
	position: absolute;
	top: -125px;
}

.track{
	top: 70vh;
    height: 60vh;
    width: 800vw;
    background-image: url(track.png);
    background-repeat: repeat-x;
    position: absolute;
	animation: carMove linear 6s infinite;
}

.car{
	height: 13vh;
	width: 24vw;
	background-image: url(car_body.png);
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
	left: 21%;
	bottom: 30vh;
	animation: shake linear 0.8s infinite;
}

.leftWheel img{
	width: 61px;
	position: relative;
	top: 36px;
	left: 39px;
	animation: wheelRotation linear .25s infinite;
}

.rightWheel img{
     width: 64px;
     position: relative;
     top: -29px;
     left: 202px;
     animation: wheelRotation linear .25s infinite;
}

@keyframes wheelRotation
{
	100%{
		transform: rotate(360deg);
	}
}

@keyframes carMove
{
	100%{
		transform: translateX(-500vw);
	}
}

@keyframes shake
{
	0%{
        transform: translateY(-1px);
	}
	50%{
        transform: translateY(1px);
	}
	100%{
        transform: translateY(-1px);
	}
}

@keyframes shakebody
{
	0%{
		transform: translateY(-30px);
	}
	50%{
		transform: translateY(30px);
	}
	100%{
		transform: translateY(-30px);
	}
}